<launch>
  <arg name="rviz_config" default="$(find baxter_seminar)/launch/seminar.rviz" />

  <!-- actionlib server for joint and griper -->
  <arg name="sim" default="false" />
  <group if="$(arg sim)" >
      <node name="dummy_joint_trajectory_controller"
            pkg="baxter_seminar_helper"
            type="joint_trajectory_controller">
        <remap from="/joint_states" to="/robot/joint_states" />
      </node>
      <node name="robot_state_publisher" pkg="robot_state_publisher"
            type="robot_state_publisher" respawn="true"
            output="screen" >
      <remap from="/joint_states" to="/robot/joint_states" />
    </node>
  </group>
  <group unless="$(arg sim)" >
    <node pkg="baxter_interface"
          type="joint_trajectory_action_server.py"
          name="joint_trajectory_action_server"
	  output="screen"
	  clear_params="true" />
    <node pkg="baxter_interface"
          type="gripper_action_server.py"
          name="gripper_action_server"
	  output="screen"
	  clear_params="true" />
  </group>

  <include file="$(find baxter_seminar_helper)/launch/ar.launch" />
  
  <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch">
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

  <group ns="move_group" >
    <param name="octomap_frame" type="string" value="head" />
    <param name="octomap_resolution" type="double" value="0.02" />
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinect_sensor.yaml" />
  </group>

</launch>
